@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: simplelife;
    src: url(/fonts/simplelife.eot);
    src: url(/fonts/simplelife.eot) format('embedded-opentype'),
         url(/fonts/simplelife.woff2) format('woff2'),
         url(/fonts/simplelife.woff) format('woff'),
         url(/fonts/simplelife.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: simplelife !important;
    font-size: 105%;
}

.beatBackground {
    background-size: contain;
    background-repeat: no-repeat;

}

.beatBox {
    background-image: url("/images/all_beats.png");
    align-items: center;
}

#polyrhythmcontroller, #polyrhythmtransport {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 15px;
}

#polyrhythmcontrollerbtns {
    margin-left: 70px;
    margin-bottom: 12px;
}

#polyrhythmtransport {
    font-size: 70%;
    position: absolute;
    transform: scale(200%);
    margin-left: 274px;
    margin-top: -187px;
}

.polyrhythmtext {
    margin-top: -20px;
    font-size: 200% !important;
}

.polybtnplay {
position: absolute;
color: #e37029;
background-color: #fcf0e4;
border: 3px solid #faa956;
border-radius: 10%;
padding: 7px 7px;
margin: 2px 2px;
margin-left: -30px;
margin-top: -10px;

}

.polybtnplay:hover {
    color: #c05513;
    filter: hue-rotate(-10deg), !important;
}

.polybtnstop {
    position: absolute;
    color: #e37029;
    background-color: #ffc993;
    border: 3px solid #faa956;
    border-radius: 10%;
    padding: 7px 7px;
    margin: 2px 2px;
    top: 35px;
    left: -33px;
    transform: scaleX(97%);}

.polybtnstop:hover {
    color: #c05513;
    filter: hue-rotate(-10deg), !important;
}

.polybtnplay:active, .polybtnstop:active {
    transform: scale(95%);
    color: black;
}

.firstbeatbtn {
    margin-bottom: 15px;
}

.bpm {
    margin-top: 15px;
}

.firstBeat {
    background-image: url("/images/all_beats.png"), url("/images/beat_1.png");
}
.activeFirstBeat {
    background-image: url("/images/all_beats.png"), url("/images/beat_1.png"), url("/images/active_step.png");
}

.secondBeat {
    background-image: url("/images/beat_2_pos_z_index.png"), url("/images/all_beats.png"),url("/images/beat_2_neg_z_index.png");
}
.activeSecondBeat {
    background-image: url("/images/beat_2_pos_z_index.png"), url("/images/all_beats.png"),url("/images/beat_2_neg_z_index.png"), url("/images/active_step.png");
}

.firstSecondBeat {
    background-image: url("/images/beat_2_pos_z_index.png"), url("/images/all_beats.png"),url("/images/beat_2_neg_z_index.png"),url("/images/beat_1.png");
}
.activeFirstSecondBeat {
    background-image: url("/images/beat_2_pos_z_index.png"), url("/images/all_beats.png"),url("/images/beat_2_neg_z_index.png"),url("/images/beat_1.png"), url("/images/active_step.png");
}

.activeBeat {
    background-image: url("/images/all_beats.png"),url("/images/active_step.png");
}

#secondbeattext {
    color: #faa956;
    position: absolute;
    margin-top: 8px;
    margin-left: 45px;
}

#overtext {
    position: absolute;
    margin-top: 36px;
    margin-left: 9px;
}

#firstbeattext {
    position: absolute;
    margin-top: 75px;
    margin-left: 45px;
}

#bpmtext {
    position: absolute;
    margin-top: 138px;
    margin-left: -14px;
    transform: scale(75%);
}

.btn {
    color: white;
}
.btn:active {
    color: #e37029;
}

.btnerror {
    background-color: #faa956;
    border: 3px solid #e37029;
}

.btnerror:hover {
    background-color: #fa9c3f;
    border: 3px solid #e37029;
}

.btnsuccess {
    background-color: #e37029 ;
    border: 3px solid #faa956;
}

.btnsuccess:hover {
    background-color: #cf5e2a;
    border: 3px solid #faa956;
}
.text-center {
    text-align: center;
}
.p-16 {
    padding: 4rem;
}
.flex-col {
    flex-direction: column;
}
.mt-0 {
    margin-top: 0px;
}

.mr-4 {
    margin-right: 1rem;
}
.ml-4 {
    margin-left: 1rem;
}
.mb-0 {
    margin-bottom: 0px;
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.border-green-400 {
    --tw-border-opacity: 1;
    border-color: rgb(74 222 128 / var(--tw-border-opacity));
}
.flex-row {
    flex-direction: row;
}
.flex {
    display: flex;
}
.w-12 {
    width: 3rem;
}
.mr-1 {
    margin-right: 0.25rem;
}
